.productGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
    gap: 10px;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
  }
  .card img {
    width: 180px;
    height: 180px;
    object-fit: cover;
  }
  .namecard {
    align-items: center;
    margin-bottom: 0;
    font-size: small;
    width: 200px;
    height: 100%;

  }
  .price {
    color: red;
    font-weight: 300px;
  }
  