.loginForm {
    display: flex;
    flex-direction: column;
}

.loginForm input {
    margin-bottom: 3px;
}

.loginForm > button {
    background-color: rgb(246, 177, 66);
    border: none;
}

.errorContainer {
    top: auto;
    left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    width: auto;
    height: auto;
    background-color: rgba(255, 0, 0, 0.74);
    color: white;
}
.errorContainer.span {
    font-size: 4px;
    padding: 10px;
}


